node_modules/
dist/
docs/.astro/
.bosia/
**/public/bosia-tw.css
.DS_Store
*.log
.env*.local
backup
.agent
.vscode
.idea
.cursor
.cursorrules
.trae
.traeignore
backup/
.claude
PLAN*
CLAUDE*
bun.lock
docs/content/docs/reference/changelog.md
docs/content/docs/reference/roadmap.md
/projects
